:root {
    /* --bg1: rgb(255, 255, 255);
    --bg: rgb(245, 245, 245);
    --bg2: rgb(216, 216, 216);
    --txtWhite: rgb(228, 228, 228);
    --txtBlack: rgb(61, 61, 61); */
    --bg1: #dafdff;
    --bg: #c5fbff;
    --bgTrans: #c4fbffcc;
    --bg2: #a7d8da;
    --bg1Cloud: #eee6dc;
    --bgCloud: #e0d6ca;
    --bgCloudTrans: rgb(224, 214, 202, .8);
    --bg2Cloud: rgb(226, 214, 199);
    --hoverCloud: rgb(226, 211, 192);
    --lineCloud: rgb(179, 169, 158);
    --txtWhite: rgb(228, 228, 228);
    --txtBlack: #3d3d3d;
    --txtcolor: rgb(42, 106, 129);
    --hover: #b5f4ff;
    --line: rgb(109, 166, 181);
    --shadow: rgba(37, 37, 37, 0.404);
    
    --mainFont: 'gothic', sans-serif;
    --titleFont: 'Arial', sans-serif;
    --boldTitleFont: 'Exo', sans-serif;
    --lobster: 'Lobster', sans-serif;

}

@font-face {
  font-family: 'gothic';
  src: URL('coco-gothic.ultralight.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y: scroll;
    margin: 0;
}

body {
    background: var(--bg);
    margin: 0;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    width: 100vw;
    height: 100vh;
    margin-bottom: 1000px;
}

/* ::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    background-color: transparent;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color:  var(--txtBlack);
    border-radius: 25px;
} */


@media only screen and (max-width: 1360px) {
  img.landImage {
    display: none;
  }
}

@media only screen and (min-width: 1075px) {
  .work1Text {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }
  .workImages {
    top: 50%;
    translate: 0 -50%;
  }
  .work1Pic {
    grid-column: 1/2;
  }
  .workHeads {
    font-size: 40px;
    bottom: 60%;
    
  }
  .workParagraphs {
    top: 30%;
    position: absolute;
  font-size: 30px;
  }
  .workDemos {
    position: absolute;
    top: 60%;
    width: 20%;
    height: 10%;
  }
  .secondPartTitle {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 1075px) {
  .work1Text {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
  .secondPartContainer {
    height: 150vh;
  }
  .workImages {
    top: 100%;
    translate: 0 -100%;
  }
  .work1Pic {
    grid-column: 1/4;
  }
  .workHeads {
    font-size: 25px;
    
  }
  .workParagraphs {
    top: 5%;
    position: relative;
  font-size: 20px;
  }
  .workDemos {
    position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  }
  .secondPartTitle {
    grid-column: 1/4;
  }
}

@media only screen and (min-width: 1500px) {
  .fiverrTopH2.hovered {
    font-size: 60px;
  animation: slide 10s infinite;
  }
  .fiverrTopP {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1500px) {
  .fiverrTopH2.hovered {
    font-size: 50px;
    animation: slideSmall 10s infinite;
  }
  .fiverrTopP {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1300px) {
  .firstPartFiverrTop {
    grid-row: 1/3;
    grid-column: 4;
  }
  .firstPartFiverrBottom {
    grid-row: 3/4;
    grid-column: 4;
  }
  .fiverrTopMe {
    left: 67%;
    top: 5%;
  }
  .firstPartTitle {
    width: 110%;
  }
}
@media only screen and (max-width: 1300px) {
  .firstPartText.active {
    display: none;
  }
  .firstPartFiverrTop {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .firstPartFiverrBottom {
    grid-row: 3/4;
    grid-column: 1/5;
  }
  .fiverrTopMe {
    left: 60%;
    top: -5%;
  }
  .firstPartTitle {
    width: 150%;
  }
}

@media only screen and (max-width: 1000px) {
  .formContainer {
    min-width: 100vw;
  }
  .review1 {
    min-width: 95vw;
    transform: translateX(15%);
  }
  .review2 {
    min-width: 95vw;
    transform: translateX(-10%);
  }
  #menu li a {
    font-size: 40px;
  }
  #sidebar ul li {
    margin-top: 20px;
  }
  .deal {
    min-width: 90%;
    min-height: 85%;
  }
  .dealHead {
    font-size: 80px;
  }
  .holidays {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  #menu li a {
    font-size: 75px;
  }
  #sidebar ul li {
    margin-top: 40px;
  }
  .deal {
    min-width: 60%;
    min-height: 75%;
  }
  .dealHead {
  font-size: 85px;
  }
  .holidays {
    font-size: 60px;
  }
}

@media only screen and (max-height: 600px) {
  .landTitle {
    top: -100px;
  }
  
}
@media only screen and (min-height: 600px) {
  .landTitle {
    top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .PC4 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-height: 800px) {
  .landNav {
    top: 30%;
  }
}
@media only screen and (max-height: 800px) {
  .landNav {
    top: 40%;
  }
}

@media only screen and (max-width: 1299px) {
  .fifthPart {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1299px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .fifthPart {
    margin-top: -50px;
  }
}

.blueBG {
    background-image: url(img/blue.jpg);
    width: 110%;
    height: 115%;
    z-index: -1;
    position: fixed;
    top: -50px;
    left: -50px;
    margin: 0;
}

.languages {
  position: fixed;
  z-index: 9998;
}

.currLanguage {
  width: 100px;
  height: 50px;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.currLanguage img {
  width: 30%;
  margin-left: 12%;
  margin-top: 5%;
}

.dealBG.shown {
  display: block;
}

.dealBG {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9996;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .4s;
}

.deal {
  background-color: black;
  /* width: 60%; */
  /* height: 65%; */
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 9999;
  border-radius: 10px;
  transition: .4s;
}

.dealContainer {
  background-color: #a2e2fe;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  border-radius: 10px;
}

.holidays {
  font-family: var(--boldTitleFont);
  color: var(--txtBlack);
  text-align: center;
  position: relative;
  top: 90px;
}

.dealHead {
  text-align: center;
  color: var(--txtBlack);
  /* font-size: 4vw; */
  font-family: var(--boldTitleFont);
  position: relative;
}

.saleForm {
  position: relative;
  left: 50%;
  translate: -50%;
  min-height: 200px;
  width: 60%;
}

.saleEmail {
  width: 100%;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px var(--line);
  outline: none;
  border-top-right-radius: 15px;
  background-color: transparent;
  font-size: 20px;
}


.saleEmail, select{
  font-size: 40px;
  font-family: arial, sans-serif;
  padding-left: 20px;
  color: var(--txtBlack);
}

.saleEmail::placeholder {
  font-size: 25px;
}

.checkLabel {
  position: relative;
  left: 20%;
  top: 10px;
  font-size: 20px;
  font-weight: 900;
  color: var(--txtBlack);
  font-family: var(--mainFont);
}

#checkbox {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: block;
  height: 25px;
  width: 25px;
  background-color: #eee;
  position: absolute;
  left: 100%;
  bottom: -5px;
  cursor: pointer;
}

.checkmark:hover {
  background-color: #ccc;
}

#checkbox:checked ~ .checkmark {
  background-color: #2195f382;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#checkbox:checked ~ .checkmark:after {
  display: block;
}

.saleForm .checkmark:after {
  left: calc(50% - 5px);
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dealButton {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 100px;
  width: 70%;
  height: 100px;
  border: solid 2px var(--line);
  outline: none;
  background-color: rgba(238, 255, 254, 0.391);
  font-size: 2.3vw;
  font-family: var(--mainFont);
  font-weight: 900;
  color: var(--txtBlack);
  transition: .4s;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dealButton:hover {
  scale: .95;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dealP {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 20px;
  font-family: var(--mainFont);
  font-weight: 700;
}

.svgs{
  position: absolute;
}

.svg1 {
  width: 150px;
  left: -45px;
  top: -45px;
  rotate: -45deg;
  padding: 20px;
  border-radius: 20px;
  background-color: #a2e2fe;
}

.svg2 {
  width: 150px;
  top: 40%;
  rotate: 30deg;
  opacity: .7;
  left: 5%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.svg3 {
  width: 150px;
  top: 10%;
  rotate: -30deg;
  opacity: .7;
  right: 5%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.svg4 {
  width: 150px;
  bottom: 0%;
  rotate: 10deg;
  opacity: .7;
  right: 0%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.svg5 {
  bottom: -35%;
  scale: .8;
  rotate: 10deg;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.faax {
  position: absolute;
  right: 40px;
  top: 30px;
  color: var(--txtBlack);
  font-size: 30px;
  cursor: pointer;
}

.discountSmall {
  width: 100%;
  min-height: 80px;
  max-height: 150px;
  background-color: rgba(255, 117, 117, 0.716);
  position: fixed;
  bottom: 0;
  z-index: 9996;
  transition: 1s;
}

.discountSmall.hidden {
  transform: translateY(1000px);
}

.discountHead {
  color: var(--txtBlack);
  font-size: 3.3vw;
  font-family: var(--boldTitleFont);
  display: inline-block;
  margin-left: 5vw;
}

.discountCode {
  font-size: 4.5vw;
  letter-spacing: 10px;
  margin-left: 10px;
}

.mark {
  font-family: var(--mainFont);
  cursor: pointer;
  position: relative;
  font-size: 30px;
  bottom: 40px;
  left: 10px;
}

.marksmall {
  bottom: 10px;
  left: 0px;
}

.mark:hover .markSpan {
  visibility: visible;
}

.markSpan {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  min-width: 180px;
  color: var(--txtBlack);
  background-color: var(--bgCloudTrans);
  font-family: arial, sans-serif;
  font-size: 15px;
  border-radius: 1px;
  padding: 5px;
  border: solid 1px var(--lineCloud);
  top: -68px;
  left: -50%;
}

.markSpan::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--bgCloudTrans);
  padding: 6px;
  z-index: 1;
  top: 85%;
  left: 10%;
  border: var(--lineCloud);
}

.succesfully {
  width: 100vw;
  height: 60px;
  background-color: rgb(169, 255, 148, .8);
  position: fixed;
  top: calc(50% - 100px);
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
  opacity: 0;
  z-index: -5;
  /* transform: translateX(15000px); */
}

.succesfully.active {
  animation: fade-out 2s forwards;
  opacity: 1;
  z-index: 9999;
  /* transform: translateX(0); */
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.landingPart{
    margin-top: -1px;
    width: 100%;
    height: 1000px;
    position: relative;
    color: var(--txtBlack);
    transition: 2s cubic-bezier(0.58,-0.04, 0.21, 1);
    border: solid 1px transparent;
    overflow: hidden;
}

.landingPart.active {
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.mouseMovers {
  position: relative;
  left: 550px;
}

.mouse-background {
  position: absolute;
  top: 0;
  right: 50px;
  width: 100%;
  height: 1000px;
  object-fit: contain;
  scale: .8;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 1;
  pointer-events: none;
}

.mouse-middle {
  position: absolute;
  top: -50px;
  right: 200px;
  width: 100%;
  height: 1000px;
  object-fit: contain;
  scale: .8;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: 2;
  pointer-events: none;
}

.mouse-for {
  position: absolute;
  top: -20px;
  right: 250px;
  width: 100%;
  height: 1000px;
  object-fit: contain;
  scale: 1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 3;
  rotate: -10deg;
  pointer-events: none;
}

.cloudContainer {
  background-image: url(img/cloud.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  left: -350px;
  top: 350px;
  width: 1300px;
  height: 900px;
  rotate: 10deg;
  z-index: -1;
}

.cloud {
  position: absolute;
  top: 450px;
  left: 50px;
  z-index: 10;
  width: 1250px;
  rotate: 5deg;
  pointer-events: none;
}

.cloud2 {
  position: absolute;
  top: 450px;
  left: -600px;
  z-index: 10;
  width: 1250px;
  rotate: 10deg;
  pointer-events: none;
}
.cloud3 {
  position: absolute;
  top: 650px;
  left: -600px;
  z-index: 10;
  width: 1250px;
  rotate: 10deg;
  pointer-events: none;
}
.cloud4 {
  position: absolute;
  top: 800px;
  left: -100px;
  z-index: 10;
  width: 1250px;
  rotate: -5deg;
  pointer-events: none;
}


/* .landImage:hover {
    filter: blur(10px);
    -webkit-filter: blur(10px);
} */


/* .landTitle {
    font-family: var(--boldTitleFont);
    font-weight: 500;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 3;
    letter-spacing: 3px;
    width: 100%;
} */

.landTitle.active {
    transform: translateX(15000px);
    opacity: 0;
}

.landTitle {
  width: 450px;
  position: fixed;
  left: 10%;
}

.landNav {
    position: fixed;
    /* top: 30%; */
    left: 8%;
}

.landNav.active {
  transform: translateX(15000px);
  opacity: 0;
}

.landNav li {
    list-style: none;
    margin-bottom: 2%;
    line-height: 60px;
}

.landNav li a{
  cursor: pointer;
}

.links {
    text-decoration: none;
    color: var(--txtBlack);
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 25px;
    transition: .4s;
    position: relative;
}

/* .links:hover {
    border-bottom: 2px solid var(--txtWhite);
} */

.links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--hover);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.links2 {
  text-decoration: none;
  color: var(--txtBlack);
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 25px;
  transition: .4s;
  position: relative;
  bottom: 100px;
}

.header {
    height: 80px;
    width: 110px;
    background-color: var(--bg1);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 996;
    transform: translateY(-150px);
    transition: .4s;
    border-bottom-left-radius: 10px;
}

.header.active {
    transform: translateY(0px);
}

.headCont {
    position: relative;
    width: 100%;
    height: 100px;
    
}

.headNav li {
    display: inline-block;
    margin-left: 10%;
}

.headNav li a{
    text-decoration: none;
    color: var(--txtBlack);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.dropMenu {
    z-index: 21;
}

#sidebar {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--bg2);
    right: -100vw;
    transition: .4s;
    top: 0;
    z-index: 999;
  }
  
  #sidebar.active {
    right: 0;
    top: 0;
    overflow-y: scroll;
  }
  
  #sidebar ul li {
    list-style: none;
    color: var(--txtBlack);
    font-size: 50px;
    padding: 20px 24px;
    padding-top: 30px;
    padding-right: 100px;
    font-family: var(--mainFont);
  }

  #menu {
    text-align: center;
    overflow-y: scroll;
    overscroll-behavior: contain;
  }
  
  #menu li a {
    text-decoration: none;
    color: var(--txtBlack);
    font-family: var(--mainFont);
    /* font-size: 75px; */
    transition: .4s;
    position: relative;
    cursor: pointer;
  }

  /* #menu li a:hover {
    color: var(--hover);
  } */

  #menu li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--hover);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    z-index: 99;
  }

  #menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    top: 15px;
    /* right: 330px; */
  }
  
  .toggle-btn {
    display: inline-block;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: -75px;
    top: 0px;
  }

  .toggle-btn.change {
    left: 20px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--txtBlack);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: var(--txtBlack);
    left: 0;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: var(--txtBlack);
    left: 0;
}









.content {
    height: 100%;
    position: relative;
}

.firstPart {
  z-index: 99;
    width: 100%;
    height: 1080px;
    background-color: var(--bgCloud);
    position: relative;
    top: -1px;
}

.firstPartContainer {
    display: grid;
    /* grid-template-columns: 2fr 1fr ; */
    /* grid-template-areas: 
      "title title fiverrTop"
      "text text fiverrTop"
      "text text fiverrBottom"
    ; */
    height: 100%;
    width: 98%;
    /* margin-left: 1%; */
    margin-right: 1%;
    grid-gap: 1rem;
    overflow: hidden;
    /* grid-auto-rows: 35%; */
}

.firstPart-gridItem {
  /* background-color: var(--bg1); */
  border-radius: 5px;
  border: solid 2px var(--lineCloud);
  /* box-shadow: 0px 10px 25px 1px var(--shadow); */
  /* scale: .99; */
}

.firstPartText {
  grid-row: 4 / 2;
  grid-column: 1 / 4;
  opacity: 0;
  transform: translatey(200px);
  transition: .4s;
}

.firstInfo {
  font-size: 30px;
  font-family: var(--titleFont);
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: var(--txtBlack);
}

.fa-info {
  position: absolute;
  right: 5%;
  bottom: 8%;
  font-size: 25px;
  color: var(--txtBlack);
}

.firstPartText.hovered {
  background-color: var(--hoverCloud);
  scale: .95;
}

#firstPartTextHead {
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 20%;
  translate: -50%;
  text-align: center;
  font-family: var(--boldTitleFont);
  color: var(--txtBlack);
  transition: 1s;
}

#firstPartTextHead.hovered {
  opacity: 0;
  transform: translatex(1000px);
  scale: .6;
}

.firstPartText.active {
  opacity: 1;
  transform: translateY(0);
}

#firstPartTextPara {
  text-align: center;
  font-size: 3vw;
  padding: 40px;
  position: absolute;
  font-family: var(--mainFont);
  transform: translateX(-1000px);
  transition: 1s ease-in-out;
  scale: .6;
  opacity: 0;
}

#firstPartTextPara.hovered {
  transform: translateX(0);
  scale: 1;
  cursor: default;
  opacity: 1;
}

.price {
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
}

.raleway {
  font-family: arial, sans-serif;
}

.firstPartTitle {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  opacity: 0;
  transform: translateX(-1500px);
  transition: 2s;
  white-space: nowrap;
  position: relative;
  display:inline-block;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
  border: none;
  /* width: 110%; */
}

.firstPartTitleContainer {
  width: 3500px;
  display: flex;
  flex-wrap: nowrap;
  animation: move 15s infinite linear;
  position: absolute;
}

.firstPartTitle:hover > .firstPartTitleContainer{
  animation-play-state: paused;
}

.firstPartTitle:active > .firstPartTitleContainer{
  animation-play-state:running;
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}

.firstPartTitleContainer :nth-child(2){
  left: 100%;
}

.firstPartTitleContainer h2{
  font-family: var(--titleFont);
  color: var(--txtBlack);
  font-weight: 700;
  font-size: 250px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  display: inline-block;
}

.firstPartTitle.active {
  opacity: 1;
  transform: translateY(0);
}

.firstPartFiverrTop {
  /* grid-column: 4;
  grid-row: 1 / 3; */
  opacity: 0;
  transform: translateX(200px);
  transition: .4s;
  cursor: pointer;
  z-index: 10;
  background-color: var(--bgCloud);
}

.firstPartFiverrTop:hover {
  background-color: var(--hoverCloud);
  scale: .95;
  border-radius: 10px;
}

.firstPartFiverrTop.active {
  opacity: 1;
  transform: translateY(0);
}

.firstPartFiverrBottom {
  /* grid-column: 4;
  grid-row: 3 / 4; */
  opacity: 0;
  transform: translateY(600px);
  transition: .4s;
  cursor: pointer;
  position: relative;
}

.firstPartFiverrBottom:hover {
  background-color: var(--hoverCloud);
  scale: .95;
  border-radius: 10px;
}

.firstPartFiverrBottom.active {
  opacity: 1;
  transform: translateY(0);
}

.fiverrLogo {
  position: absolute;
  width: 90px;
  bottom: 0;
  left: 5%;
  transition: .4s;
}

.fiverrBottomP {
  font-size: 40px;
  font-family: var(--mainFont);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -70%;
  font-weight: 500;
  padding: 40px;
  transform: translateX(1500px);
  transition: .4s;
  text-align: center;
}

.fiverrBottomP a {
  font-weight: 700;
  color: var(--txtcolor);
  text-decoration: none;
  transition: .4s;
}

.fiverrBottomP a:hover {
  text-decoration:underline;
}

.firstPartFiverrBottom:hover > .fiverrBottomP {
  transform: translateX(0);
}

.fiverrTopP {
  opacity: 0;
  transform: translateX(500px);
  position: absolute;
  top: 20%;
  font-family: var(--mainFont);
  font-weight: 500;
  /* font-size: 35px; */
  text-align: center;
  padding: 40px;
  transition: .4s;
}

.fiverrTopP.hovered {
  opacity: 1;
  position:absolute;
  transform: translateX(0);
}

.fiverrTopH2 {
  position: absolute;
  font-family: var(--titleFont);
  color: var(--txtBlack);
  left: 5%;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  transition: .4s;
  top: 10px;
  font-weight: bold;
}

@keyframes slideSmall {
  0% {
    top: -.2em;
  }
  20% {
    top: -.2em;
  }
  40% {
    top: -1.6em;
  }
  60% {
    top: -2.9em;
  }
  80% {
    top: -4.5em;
  }
  100% {
    top: -.2em;
  }
}

@keyframes slide {
  0% {
    top: -.2em;
  }
  20% {
    top: -.2em;
  }
  40% {
    top: -1.3em;
  }
  60% {
    top: -2.5em;
  }
  80% {
    top: -3.7em;
  }
  100% {
    top: -.2em;
  }
}

.fiverrTopH2Contain.hovered {
  position: absolute;
  font-family: var(--mainFont);
  color: var(--txtBlack);
  /* left: 20%; */
  top: 15%;
  width: 100%;
  height: 4em;
  text-align: center;
  line-height: 1.2em;
  overflow: hidden;
}

var {
  transition: opacity .4s;
}

.fiverrTopH2.hovered > var {
  opacity: 1;
}

.fiverrTopH2.hovered {
  /* font-size: 60px; */
  line-height: 70px;
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.fiverrTopH2Contain {
  top: 90%;
  height: 3em;
  line-height: 1.2em;
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition: .4s;
  /* border: solid 2px red; */
}

.fiverrTopMe {
  position: absolute;
  /* left: 67%;
  top: 5%; */
  font-family: var(--titleFont);
  color: var(--txtBlack);
  font-size: 60px;
  opacity: 0;
  transform: translateY(-500px);
  transition: .4s;
}

.fiverrTopMe.hovered {
  opacity: 1;
  transform: translateY(0);
}

var {
  opacity: 0;
}

.fa-paper-plane {
  position: absolute;
  bottom: 7%;
  right: 10%;
  font-size: 20px;
  transition: .2s;
  color: var(--txtBlack);
}

.fa-paper-plane.hovered {
  font-size: 25px;
}










.secondPart {
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(to right,var(--bgTrans),var(--bgTrans)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
}

.secondPartContainer {
  display: grid;
  grid-auto-rows: minmax(100px, 400px);
  min-height: 1000px;
  width: 90%;
  margin-left: 5%;
  grid-gap: 2rem;
  overflow: hidden;
  gap: 0;
}

.secondPart-gridItem {
  /* border: solid 1px var(--line); */
  position: relative;
}

.secondPartTitle {
  grid-row: 1 / 2;
  /* grid-column: 1 / 3; */
  font-family: var(--boldTitleFont);
  font-weight: 300;
  text-align: center;
}

.myWork {
  font-size: 90px;
  text-align: center;
  color: var(--txtBlack);
  margin-bottom: 100px;
}

.myWorkP {
  font-family: var(--mainFont);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 43%;
  font-size: 30px;
}

.work1Pic {
  grid-row: 2 / 4;
  /* grid-column: 1 / 2; */
}

.workImages,
.work1Pic img {
  position: absolute;
  width: 100%;
  /* top: 50%; */
  /* translate: 0 -50%; */
}

.work1Text {
  /* grid-row: 2/4; */
  /* grid-column: 2/3; */
  border: solid 2px transparent;
}

.workHeads {
  /* font-size: 3vw; */
  font-family: var(--titleFont);
  position: absolute;
  left: 50%;
  translate: -50%;
  /* bottom: 60%; */
}

.workParagraphs,
.work1Text p {
  /* position: absolute; */
  font-family: var(--mainFont);
  font-weight: 600;
  /* font-size: 30px; */
  text-align: center;
  /* top: 30%; */
  color: var(--txtBlack);
  padding: 20px;
}

.workDemos {
  /* position: absolute; */
  left: 50%;
  translate: -50%;
  /* top: 60%; */
  font-size: 20px;
  color: var(--txtBlack);
  font-family: var(--boldTitleFont);
  opacity: .7;
  transition: .4s;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px;
  background-color: var(--bg1);
  box-shadow: 10px 10px 15px 5px var(--hover);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.work2Button button {
  box-shadow: -10px 10px 15px 5px var(--hover);
}

.workDemos:hover {
  scale: .9;
}

.work2Pic {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
}

.work2Text {
  grid-row: 4/6;
  grid-column: 1/2;
}


.work3Pic {
  grid-row: 6 / 8;
  grid-column: 1 / 2;
}

.work3Text {
  grid-row: 6/8;
  grid-column: 2/3;
}









.thirdPart {
  width: 100%;
  height: 700px;
  position: relative;
  background-image: url(img/review.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.thirdPartContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.trans {
  width: 100%;
  height: 100%;
  background-color: var(--bgCloudTrans);
}

.review1 {
  width: 50%;
  min-height: 20%;
  max-height: 28%;
  border-radius: 18px;
  background-color: rgb(235, 254, 255);
  position: absolute;
  left: 35%;
  top: 35%;
  translate: -50% -50%;
  padding: 20px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.reviewName {
  font-size: 25px;
  font-family: var(--boldTitleFont);
  color: var(--txtBlack);
}

.reviewText {
  height: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-family: var(--mainFont);
  text-align: center;
  color: var(--txtBlack);
}

.reviewStars {
  position: absolute;
  right: 25px;
  top: 25px;
  color: rgb(255, 230, 0);
}

.review2 {
  width: 50%;
  min-height: 20%;
  max-height: 28%;
  border-radius: 18px;
  background-color: rgb(225, 241, 241);
  position: absolute;
  left: 60%;
  top: 70%;
  translate: -50% -50%;
  padding: 20px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}








.fourthPart {
  width: 100%;
  height: 1500px;
  position: relative;
  background: linear-gradient(to right,var(--bgTrans),var(--bgTrans)),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
}

.fourthPartContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.formContainer {
  width: 40%;
  position: relative;
  left: 50%;
  top: 60%;
  translate: -50% -50%;
  height: 60%;
  background-color: rgb(224, 254, 255);
  box-shadow: 10px 20px 50px 20px var(--hover);
}

.contact {
  position: relative;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
}

.contact textarea,
.contact input {
  resize: none;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 5%;
}

.contact input , select {
  padding-left: 3%;
  font-size: 18px;
}

.contact input {
  height: 9%;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: var(--txtBlack);
}

.contact input::placeholder {
  font-size: 20px;
  font-family: var(--mainFont);
}

.name {
  width: 98%;
}

.email {
  width: 98%;
}

.text {
  height: 40%;
  width: 95%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.text , select {
  padding: 20px;
  font-size: 18px;
}
.text::placeholder {
  font-size: 18px;
  font-family: var(--mainFont);
  opacity: .4;
}

.submit {
  width: 100%;
  float: right;
  background-color: var(--bg);
  color: var(--txtBlack);
  font-family: var(--mainFont);
  font-weight: 600;
  transition: .2s;
  cursor: pointer;
}

.submit:hover {
  scale: .95;
}

.contactHead {
  font-family: var(--boldTitleFont);
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 5%;
  translate: -50%;
  color: var(--txtBlack);
}

.codeSubmit {
  text-transform: uppercase;
}

.codeSubmit::placeholder {
  text-transform: capitalize;
}

#MessageLabel {
  font-size: 20px;
  font-family: var(--mainFont);
  position: relative;
  bottom: 10px;
  font-weight: 800;
  color: var(--txtBlack);
  opacity: .6;
}

.deliveryTime {
  text-align: center;
  font-family: var(--mainFont);
}






.fifthPart {
  width: 100%;
  min-height: 75vh;
  position: relative;
  background-color: var(--bgCloud);
  background-position: center;
  z-index: 1;
  margin-top: -50px;
  padding-bottom: 20px;
}

.fifthPartContainer {
  min-height: 72vh;
  max-width: 90%;
  margin-left: 5%;
  overflow: hidden;
  position: relative;
  overflow: visible;
}

.fifthPartHead {  
  font-size: 60px;
  text-align: center;
  font-family: var(--boldTitleFont);
  color: var(--txtBlack);
}

.cards {
  min-height: 50vh;
  overflow: hidden;
  position: relative;
  display: grid;
  gap: 0px;
  overflow: visible;
}

.productCard {
  background-color: var(--bg1Cloud);
  width: 100%;
  min-height: 400px;
  border-radius: 5px;
  scale: .95;
  position: relative;
  cursor: pointer;
  transition: .4s;
  z-index: 4;
  overflow: hidden;
}

.productCard:hover {
  scale: 1;
  background-color: rgb(246, 240, 233);
}

.productTitle {
  margin-top: 10%;
  font-size: 30px;
  font-family: var(--boldTitleFont);
  text-align: center;
  color: var(--txtBlack);
}

.productPrice {
  text-align: center;
  font-family: var(--boldTitleFont);
  font-size: 40px;
  color: var(--txtBlack);
}

.bigPrice {
  font-size: 50px;
}

.productList {
  position: relative;
  left: 5%;
  list-style:none;
  font-size: 25px;
  font-family: var(--titleFont);
  /* text-align: center; */
  color: var(--txtBlack);
}

.fa-check {
  color: rgba(96, 255, 96, 0.8);
  margin-right: 20px;
  font-size: 30px;
}

.fa-circle-check {
  color: rgba(96, 255, 96, 0.8);
  margin-right: 20px;
  font-size: 30px;
}

.fa-yellow {
  color: rgb(255, 199, 31);;
  font-size: 30px;
}

.bad {
  color: rgba(255, 100, 100, 0.8);
  margin-right: 20px;
  margin-left: 5px;
}

.PC4 {
  overflow: hidden;
  border: solid 2px #ff3f3f;
  width: 200%;
}

.PC4:hover {
  rotate: 1deg;
}

.bestDeal {
  width: 300px;
  height: 40px;
  rotate: -35deg;
  background-color: #ff5f5f;
  position: absolute;
  left: -7%;
  top: 45px;
  text-align: center;
  font-size: 18px;
}

.bestDeal h2 {
  margin-top: 2px;
  font-family: var(--mainFont);
  color: var(--txtBlack);
}

.tooltip2 ,
.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  min-width: 180px;
  color: var(--txtBlack);
  background-color: var(--bgCloudTrans);
  font-family: var(--mainFont);
  font-size: 15px;
  border-radius: 1px;
  padding: 5px;
  border: solid 1px var(--lineCloud);
  top: -40px;
  left: -50%;
}

.tooltip2::before ,
.tooltip::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--bgCloudTrans);
  padding: 6px;
  z-index: 1;
  top: 80%;
  left: 10%;
  border: var(--lineCloud);
}

.mark:hover .tooltip,
.mark:hover .tooltip2 {
  visibility: visible;
}
